.layout-wrapper {
  height: 100vh;
}

.app-sidenav {
  width: 250px;
  background-color: #1976d2;
  color: white;
}

.mat-nav-list .mat-list-item {
  color: white;
}

.mat-nav-list .mat-list-item.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}
