.layout-wrapper {
  height: 100vh;
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  padding: 1rem;
  background-color: #f5f5f5; // gris claro para el contenido
  overflow-y: auto;
}
